<%# ヘッダー部分 %>
<header class="page-heading">
<%= render "shared/header" %>
</header>
<%# /ヘッダー部分 %>

    <%# 「トップページ」部分%>
<div class="wrapper">
    <section class="home-top">
        <h1 class="head-tittle">高校野球 練習試合マッチ</h1>
        <p class="head-description">
            普段から練習試合を組むことに苦労していませんか？
            <br>このアプリでもっと楽にスケジューリングができるようにしましょう！
        </p>
        
    </section>
    <%# /「トップページ」部分%>

    <%# 「登録・申し込み・募集一覧」部分%>
    <section class="home-center">
        <div class="home-text">
            <h2 class="center-tittle">急なキャンセルでも大丈夫！</h2>
            <p class="center-description">
                「コロナの影響で明日の試合がキャンセルになった…」
                <br>このアプリならそんな悩みもすぐに解決できます！
                <br>下記のメニューをクリックして、早速始めましょう！
            </p>
            <%= link_to '部活登録へ', new_team_path, class: "btn btn-teams" %>
            <%= link_to '練習試合申し込み', new_game_path, class: "btn btn-practice" %>
            <%= link_to "募集一覧を見る", games_path, class: "btn btn-recruit" %>
        </div>
    </section>
    <%# /「登録・申し込み・募集一覧」部分 %>

    <%# 「登録している高校一覧」部分 %>
    <section class="team-page">
        <div class='team-contents'>
            <h2 class='team-tittle'>登録高校一覧
            <br>下記の学校名をクリックすると、学校詳細ページに移動します！
            <br>（ログインが必要です）</h2>
                <ul class='team-lists'>
                    <% @team.each do |team|%>
                    <li class='list'>
                    <%= link_to team.user.school_name, team_path(team.id), class: "team-list", id: 'team-list' %>
                    </li>
                    <% end %>
                </ul>
            </h2>
        </div>
    </section>
    <%# /「登録している高校一覧」部分 %>

    <%# 「日本地図検索機能」部分 %>
    <section class="home-bottom">
        <div class="search-text">
            <div class="bottom-tittle">地域検索をしよう！(調整中…)</div>
            <%= render "shared/map" %>
        </div>
    </section>
    <%# /「日本地図検索機能」部分 %>

    <%# フッター部分 %>
    <%= render "shared/footer" %>
    <%# /フッター部分 %>
</div>



