<%= render "shared/header" %>

<%= form_with model: @team, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      部活登録
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="team-group">
    <h2 class="teacher-school-name">
    高校名：
      <%= current_user.school_name %>
    </h2>
  </div>
  <div class="team-group">
    <h2 class="teacher-school-name">
    顧問名：
      <%= current_user.teacher_name %>
    </h2>
  </div>
  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">都道府県</label>
    </div>
    <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"team-area-select"}) %>
  </div>
  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">部員数</label>
    </div>
    <%= f.collection_select(:member_id, Member.all, :id, :name, {}, {class:"select-box", id:"team-member-select"}) %>
  </div>
  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">チームのレベル</label>
    </div>
    <%= f.collection_select(:team_level_id, TeamLevel.all, :id, :name, {}, {class:"select-box", id:"team-level-select"}) %>
  </div>
  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">自己紹介</label>
    </div>
    <%= f.text_area :profile, class:"team-text", id:"team-info", placeholder:"例) お互い成長できるチームと練習試合がしたいです！よろしくお願いします。" ,rows:"7" ,maxlength:"1000" %>
    <p class='info-text'>※7文字以上で入力してください(入力は任意です)</p>
  </div>
  <div class='team-btn'>
    <%= f.submit "登録完了！" ,class:"team-skyblue-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
  <p class='team-info'>練習試合を申し込みましょう！</p>
</div>
<% end %>

<%= render "shared/footer" %>

