<%= render "shared/header" %>
<h1>メッセージ</h1>
 <div id='messages'>
  <% @messages.reverse_each do |message| %>
  <%if message.user_id==current_user.id%>
    <div class="my-messages">
      <p><%= message.text %></p>
    </div>
    <%= message.created_at.to_s(:datetime_jp) %>
  <% else %>
    <div class="fukidasi">
      <div class="user-school">
        <%= message.user.school_name%>
      </div>
      <div class="chatting">
        <div class="says">
          <p><%= message.text %></p>
        </div>
        <div class="my-messages">
          <%= message.created_at.to_s(:datetime_jp) %>
        </div>
      </div>
    </div>
  <%end%>
  <% end %>
</div>

<div class="message-area">
  <div class="message-form">メッセージ投稿</div>
    <%= form_with model: [@game, @message], url: game_messages_path(@game.id), local: true do |f| %>
    <%= f.text_field :text %>
    <%= f.submit '送信'%> 
    <% end %> 
    <%=link_to 'もどる', games_path, class:"back-show-btn" %>
</div>

</div>



<%= render "shared/footer" %>