<header>
<div class="wrapper">
  <%= link_to image_tag("header_logo.png", class: "logo") %>
  <% if user_signed_in? %>
  <div class="user-school_name">
    ようこそ!!   
      <%= link_to "#{current_user.school_name} 様", root_path, class: "user-school_name" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
  </div>
  <% end %>
    <ul class="main-nav">
      <li><%= link_to 'ホーム', root_path, class: "menu-home" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "menu-sign-up" %></li>
      <li><%= link_to 'ログイン', new_user_session_path, class: "menu-login" %></li>
    </ul>
</div>
</header>