
<%= render "shared/header" %>

<% breadcrumb :games_reg %>

<%= form_with model: @game, class: 'team-main', local: true do |f| %>
<div class='form-wrap'>
  <h1 class='form-header-text'>
    練習試合申し込み
  </h1>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="team-group">
    <h2 class="school-name">
      <%= current_user.school_name %>
    </h2>
  </div>

  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">日時</label>
      <%= f.date_field :practice_date, class:"calender" %>
    </div>
  </div>

  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">都道府県</label>
    </div>
    <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"team-area-select"}) %>
  </div>

  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">募集</label>
    </div>
    <%= f.collection_select(:recruit_id, Recruit.all, :id, :name, {}, {class:"select-box", id:"team-area-select"}) %>
  </div>
  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">試合の場所</label>
    </div>
    <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"select-box", id:"team-member-select"}) %>
  </div>
  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">求める対戦相手のレベル</label>
    </div>
    <%= f.collection_select(:battle_level_id, BattleLevel.all, :id, :name, {}, {class:"select-box", id:"team-level-select"}) %>
  </div>
  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">コメント</label>
    </div>
    <%= f.text_area :comment, class:"team-text-info", id:"team-info", placeholder:"例) 明日、急にキャンセルになりました。午前中にお願いします！" ,rows:"7" ,maxlength:"1000" %>
    <p class='info-text'>※時間など詳細をお書きください（必須）</p>
  </div>
  
  <div class='team-btn'>
    <%= f.submit "申し込みする" ,class:"team-skyblue-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
  <p class='team-info'>試合詳細ページにてメッセージのやり取りをしましょう！</p>
</div>
<% end %>

<%= render "shared/footer" %>

