<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<%= render "shared/header" %>

<%= form_with model: @game, class: 'team-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      練習試合申し込み
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="team-group">
    <h2 class="teacher-school-name">
    高校名：
      <%= current_user.school_name %>
    </h2>
  </div>
  <div class="team-group">
    <h2 class="teacher-school-name">
    顧問名：
      <%= current_user.teacher_name %>
    </h2>
  </div>


    <!-- Compiled and minified CSS -->
  <div class="game-date">
    <div class='game-date-wrap'>
      <label class="game-date-text">日時</label>
      <%= f.text_field :practice_date, required: true, class: 'datepicker' %>
    </div>
  </div>

  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">募集</label>
    </div>
    <%= f.collection_select(:recruit_id, Recruit.all, :id, :name, {}, {class:"select-box", id:"team-area-select"}) %>
  </div>
  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">試合の場所</label>
    </div>
    <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"select-box", id:"team-member-select"}) %>
  </div>
  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">求める対戦相手のレベル</label>
    </div>
    <%= f.collection_select(:battle_level_id, BattleLevel.all, :id, :name, {}, {class:"select-box", id:"team-level-select"}) %>
  </div>
  <div class="team-group">
    <div class='team-text-wrap'>
      <label class="team-text">コメント</label>
    </div>
    <%= f.text_area :comment, class:"team-text", id:"team-info", placeholder:"例) 日時：○月○日、12時以降にグラウンドが空きます！   例）明日、急にキャンセルになりました。" ,rows:"7" ,maxlength:"1000" %>
    <p class='info-text'>※日時・場所の詳細などを記入してください</p>
  </div>
  
  <div class='team-btn'>
    <%= f.submit "申込完了！" ,class:"team-skyblue-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
  <p class='team-info'>一覧ページでメッセージのやり取りをしましょう！</p>
</div>
<% end %>

<%= render "shared/footer" %>

