<%= render "shared/header" %>

<% if user_signed_in? %>
<article class="">
  <h2 class="game-school-name">
      <%= @game.user.school_name %>
    </h2>
    <p>日時：<%= @game.practice_date.strftime("%Y年%-m月%-d日")%></p>
    <p>募集内容：<%= @game.recruit.name %></p>
    <p>場所：<%= @game.place.name %></p>
    <p>求める対戦相手のレベル：<%= @game.battle_level.name %></p>
    <p>コメント：<%= @game.comment %></p>
</article>

<div class="message-game">
  <%= link_to "メッセージへ", game_messages_path(@game.id), class: "btn-messages" %>
</div>
<div class="game_manage">
    <%= link_to "もどる", games_path(@game.id), class: "btn-game" %>
</div>
<% if user_signed_in? && current_user.id == @game.user_id %>
  <div class="game_manage">
    <%= link_to "編集する", edit_game_path(@game.id), class: "btn-game" %>
    <%= link_to "削除", game_path(@game.id), method: :delete, class:"btn-game" %>
  </div>
<% end %>
<% end %>


<%= render "shared/footer" %>