<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>PracticeGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Expressly read CDN to make jQuery available before make Materialize-UI available -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Make FontAwesome available -->
    <script src="https://kit.fontawesome.com/xxxxxxxxxxxx.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name = "description" content="高校野球 練習試合マッチ！~road to 甲子園~">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link href="http://fonts.googleapis.com/css?family=Philosopher" rel="stylesheets">
    <link href="/style.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
